body{
  color: #33475b;
}
header a{
  display: inline-block;
  color:white;
  margin:10px 20px;
  /* border-bottom: 2px solid white; */
  cursor: pointer;
  text-decoration: none;
}
header a:hover{
  border-bottom-color:orange;
}
.mdl-layout__header{
  display: inline-block;
  height: 40px;
  min-height: unset;
}
.sub-products{
  display: inline-block;
  vertical-align: top;
}
.pipeline-stage{
  width:max(calc(20% - 5px) , 230px);
  border: 1px solid rgb(223, 227, 235);
  background: #f5f8fa;
  height: 100%;
  display: inline-block;
  /* text-align: center; */
  padding:10px;
  box-sizing: border-box;
  vertical-align: top;
  overflow:hidden;
}
.innerstage{
  height: 100%;
  display: inline-block;
  overflow-y: auto;
  padding-bottom:50px;
  box-sizing: border-box;
  width: 100%;
  }
#bestellingen-pipeline{
  height: 100%;
  width: 100%;
  /* width:100%; */
  white-space: nowrap;
   position: relative;
   overflow-x: scroll;
   overflow-y: hidden;
   -webkit-overflow-scrolling: touch;
   padding:20px;
   box-sizing: border-box;
   margin-top:0px;
}
.stage-title{
  font-size:18px;
  /* margin-top:px; */
  margin:0;
  line-height: 20px;
  border-bottom: 1px solid rgb(223, 227, 235);
  width: 100%;
  padding-bottom:10px;
  box-sizing: border-box;
  z-index: 4;
  color: #33475b;
  /* padding-left:20px; */
}
header , .mdl-layout__tab{
  color:white !important
}
canvas{
  max-width: 400px;
  max-height: 400px;
  display: inline-block !important;
}
.mdl-layout__header , .mdl-layout__tab-bar , .mdl-layout__tab-bar-button{
  background: #2e3f50;
}
.bestelling{
  background: rgb(255, 255, 255);
  border-radius: 10px;
  /* height: 100px; */
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding:5px 10px;
  margin-top:10px;
  border: 1px solid rgb(223, 227, 235);
  cursor: pointer;
  overflow: auto;
  /* display: inline-block; */
}
.bestelling .details{
  display: none;
}
.full .details{
  display: block;
}
.bestelling p{

  font-size: 13px;
  line-height: 15px;
  margin:3px 0;
}
.prijs{
  position: absolute;
  top:25px;
  right: 10px;
  color: #0091ae;
  font-size: 12px !important;
}
.aangemaakt{
  position: absolute;
  right: 10px;
  bottom:5px;
  font-size: 10px !important;
  max-width:55px;;
  white-space:normal;
  color:inherit;
  text-align: right;
}
.adresgegevens , .adresgegevens p{
  display: inline-block;
}
.specificaties p{
  display: block;
    white-space: normal;

}
.adres , .postcode , .stad{
  /* display: inline-block; */
}
.naam , .type {
  font-weight: bold;
  /* display: inline-block; */
}
.type{
  color:orange;
  position: absolute;
  /* top:5px; */
  right:10px;
  /* width: 60px; */
}
#bestelling{
  display: none;
  width:90%;

  /* height:80%; */
  margin: 0 auto;
  /* margin:5%; */
  /* border: 1px solid rgb(223, 227, 235); */
  /* background: #f5f8fa; */
  /* position: relative; */
  padding:30px;
  box-sizing: border-box;
  border-radius: 0p;
  max-width: 1000px;

}
.material-icons{
  cursor: pointer;
}
#inner{
  /* display: inline-block; */
}
.mdl-button{
  font-size: 13px;
}
.bestelling-form{
  /* display: none; */
  padding:10px;
  border: 1px solid rgb(223, 227, 235);
  border-radius: 10px;
  width: fit-content;
  max-width: 700px;
  display: inline-block !important;
  margin-top:5px;
  vertical-align: top;
}
.bestelling-form p{
  font-weight: bold;
}
select{
  border:none;
  outline:none;
  border-bottom:2px solid orange;
}
input[type='submit']{
  background: none;
  border: none;
  outline:none;
  cursor:pointer;
  padding:5px 10px;
  /* border-radius: 5px; */
}
input[type='submit']:hover{
  background: #f5f8fa;
}
input[type='number']{
  width:80px;
}
#msg{
  background: orange;
  color: white;
  width: 100%;
  padding-left: 30px;
  font-size: 12px;
  box-sizing: border-box;
  opacity: 0.8;
}

#leverdata , #productiedata{
  width: 100%;
  /* margin-left:100px; */

}
#content{
  margin:0 auto;
  /* margin-top:30px; */
}
#voorraad{
  white-space: nowrap;
  overflow-x: auto;
}
#nieuwe-leverdatum , #nieuwe-productiedatum{

}
#nieuweleverdatum-form , #nieuweproductiedatum-form{
  width: 100%;

}
table , .mdl-data-table{
  background-color: #f5f8fa;
  box-shadow:none;
  border-radius: 10px;
  outline:none;
  border:none;
  width: 100%;

}
td, th{
  text-align: left !important;
}
th{
  font-size:12px !important;
}
td{
  font-size: 12px;
}
#nieuwe-leverdatum , #nieuwe-productiedatum , #nieuw-product, #edit-product{
  display: none;
  width: 800px;
  margin-left:calc(50% - 400px);
  max-width: 800px;
}
.page-content{
  /* margin-left:100px !important; */

}
.hiddenform{
  display: none;
}
#editform{
  /* display: none; */
  margin:0 auto;
}
.form-item{
  display: inline-grid;
  margin:10px;
}
.form-item span{
  margin-right: 10px;
}
@media screen and (max-width: 1024px){
.mdl-layout--fixed-header>.mdl-layout__header {
  display: inline-block;
  overflow-x: scroll;
  width: 100%;
  overflow-y: hidden;
  white-space: nowrap;
  height: auto;
}
}
