#footer{
  /*position: absolute;*/
  /*border-top: 2px solid orange;*/
  padding-top: 20px;
  padding-bottom:20px;
/* margin-left: -200px; */
padding-left: 15%;
bottom: 0;
background: #4f917f;

}
.footer_col{
  font-size:15px;
  width:25%;
  display: inline-block;
  /*border-left: 2px solid orange;*/
  padding:10px;
}
#footer{
  background: #bfd7d1;
}
