@keyframes bubblehover {
  0% {padding: 10px;
    border-radius: 50%;
  background: mistyrose}
  100%{
    border-radius: 0;
    padding:0;
    background: transparent;
  }
}
.contact-bubble{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
  background: mistyrose;
  vertical-align: top;
  margin:0 10px;
  cursor: pointer;
  box-sizing: border-box;
}
.contact-bubble:hover{
  animation:bubblehover 0.5s;
  border-radius: 0;
  padding:0;
  background: transparent;
}
.contact-action{
  margin: 40px auto;
  display: none;
  border-radius: 30px;
  text-align: right;
  padding: 12.5px 15px 13.5px 65px;
  box-sizing: border-box;
  position: relative;
  width: max-content;
}
.contact-img{
  width: 50px;
  height: auto;
  border-radius: 50%;
  display: inline-block;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0px;
}
.contact-action-text{
  font-size: 19px;
  line-height: 25px;
  /* color: mistyrose; */
  display: inline-block;
  margin: 0;
  padding: 0 !important;
  cursor: pointer;
}
@media only screen and (max-width:900px) {
.contact-bubble{
  margin:0 2px;
}
