#routes .route{
  opacity: 1;
  box-shadow:none;
  cursor: default;
}
#routes .route img{
  opacity: 1 !important;
}
#routes{
  background: white;
  width: 100%;
  margin: 0;
  padding:50px 10%;
  box-sizing: border-box;
}
.content_section_hor--green{
  background: #5aa792;
  margin:0;
  padding: 0 10%;
  box-sizing: border-box;
}
.content_section_hor--green h2,.content_section_hor--green p {
  color:white;
}
.content_section_hor--green img{
  filter:none;
}
@media only screen and (max-width:900px) {
#routes{
  padding:30px 10px;
}
#routes .route{
  width: calc(50vw - 30px);
  margin: 5px 3px;
  height: calc(calc(50vw - 30px) / 1.5);
}
.content_section_hor--green{
  background: #5aa792;
  margin:0;
  padding: 0 20px;
  box-sizing: border-box;
}
}
